/* banner */

.bannerCovidSafety {
  width: 100vw;
  height: 50px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bannerCovidSafety > a {
  color: white;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
}
