.cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 32px;
  column-gap: 24px;
  margin-bottom: 32px;
}

.card {
  cursor: pointer;
}

.cover {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 300.8px;
  height: 300.8px;
  border-radius: 12px;
  position: relative;
  margin-bottom: 10px;
}

.prev,
.next {
  width: 28px;
  height: 28px;
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.08);
}

.prev {
  left: 9px;
}

.next {
  right: 9px;
}

.wish {
  position: absolute;
  top: 16px;
  right: 17px;
}

.detail {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.more {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  font-weight: 400;
  color: #717171;
}

.distance {
  font-size: 16px;
  line-height: 1.375;
}

.date {
  font-size: 14px;
  line-height: 1.2857142857;
}
