.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 32px;
  column-gap: 24px;
  margin-bottom: 32px;
}

.card {
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: relative;
}

.cover {
  width: 100%;
  height: auto;
  border-radius: 12px;
  position: relative;
  margin-bottom: 10px;
}

.coverBase {
  padding-top: 100%;
  position: relative;
}

.realCover {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.prev,
.next {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.08);
}

.wish {
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.prev,
.next {
  margin: 0 9px;
}

.detail {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.location {
  overflow: clip;
  word-break: break-all;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.price {
  flex-shrink: 0;
}

.more {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  font-weight: 400;
  color: #717171;
}

.distance {
  font-size: 16px;
  line-height: 1.375;
}

.date {
  font-size: 14px;
  line-height: 1.2857142857;
}

@media screen and (max-width: 1607px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1232px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 876px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 744px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
