/* footer */

.footer {
  width: 100vw;
  margin-top: 48px;
  background-color: #f7f7f7;
}

.footerMain {
  padding: 0 80px;
  margin: 0 auto;
}

.footerWrapper {
  margin: 0 auto;
  max-width: 1600px;
}

.sitemap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 -12px;
}

.sitemapContents {
  padding: 48px 12px;
  box-sizing: border-box;
}

.sitemapTitle {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 16px;
  line-height: 1.2857142857;
}

.sitemapContent {
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 1.2857142857;
  font-weight: 300;
}

.sitemapContent span {
  cursor: pointer;
  word-break: keep-all;
}

.sitemapContent span:hover {
  text-decoration: underline;
}

.extraInformation {
  padding: 24px 0;
  border-top: 1px solid #dddddd;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.extraInfo {
  overflow: hidden;
}

.airbnbName {
  font-size: 14px;
  line-height: 1.2857142857;
  color: #222222;
  text-decoration: none;
  margin: 0;
  font-weight: 300;
  margin-right: 19px;
  display: inline-block;
}

.info {
  margin-left: -19px;
  display: inline-block;
}

.info span,
.info a {
  font-size: 14px;
  line-height: 1.2857142857;
  color: #222222;
  text-decoration: none;
  margin: 0;
  font-weight: 300;
}

.dot {
  display: inline-block;
  text-align: center;
  width: 19px;
  font-size: 16px;
  margin: 0;
}

.settingsAndSocial {
  display: flex;
  flex-direction: row;
}

.settings {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.setting {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.2857142857;
  margin-right: 24px;
  white-space: nowrap;
}

.globalIcon {
  margin-right: 8px;
}

.language,
.currency {
  font-size: 14px;
  text-decoration: underline;
  font-weight: 500;
  text-align: left;
}

.currencyIcon {
  margin-right: 8px;
}

.social {
  display: flex;
  flex-direction: row;
  margin-left: 32px;
}

.social > li {
  margin-right: 24px;
}

.social > li:last-child {
  margin-right: 0;
}

@media screen and (max-width: 1440px) {
  .footer {
    margin-top: 0;
  }
}

@media screen and (max-width: 1128px) {
  .footerMain {
    padding: 0 40px;
  }

  .sitemap {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
    margin: 0;
  }

  .sitemapContents {
    padding: 0 0 24px 0;
    margin-bottom: 24px;
    border-bottom: 1px solid #dddddd;
  }

  .sitemapContents:last-child {
    padding: 0;
    margin: 0;
    border-bottom: none;
  }

  .sitemapTitle {
    margin-bottom: 0;
  }

  .sitemapContents ul {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
  }

  .sitemapContent {
    flex-basis: 33.3333%;
    padding: 0 12px;
    margin: 12px 0 0 0;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.25;
  }

  .sitemapContent span {
    font-size: 14px;
    line-height: 1.2857142857;
  }

  .extraInformation {
    border-top: 1px solid #dddddd;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .settingsAndSocial {
    margin-bottom: 16px;
  }

  .extraInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.25;
  }

  .airbnbName {
    margin-right: 0;
  }
}
