/* banner */

.bannerCovidSafety {
  width: 100vw;
  height: 50px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.bannerCovidSafety > a {
  color: white;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
}

/* main search */

.mainSearch {
  background-color: black;
  width: 100%;
  margin: 0 auto;
  padding-top: 222px;
  display: flex;
  justify-content: center;
  position: relative;
}

.flexibleSearchContainer {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr);
  width: 100%;
  max-width: 1920px;
  height: 100%;
}

.flexibleSearchContainer::before {
  content: "";
  width: 100%;
  padding-top: 56.25%;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 1;
  grid-column-end: 1;
}

.flexibleSearch {
  background-image: url("https://a0.muscache.com/im/pictures/f1502649-e034-40ab-9fed-7992b7d550c6.jpg?im_q=highq&im_w=2560");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
  padding: 0 80px 72px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 1;
  grid-column-end: 1;
}

.flexibleSearch > h1 {
  color: white;
  font-size: 48px;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 500;
  line-height: 1.125;
}

.flexibleSearch > a {
  padding: 20px 35px;
  background-color: white;
  font-weight: 700;
  border-radius: 30px;
  text-decoration: none;
}

.flexibleSearch > a:hover {
  background-color: #ebebeb;
}

.flexibleSearch > a > span {
  color: purple;
  font-size: 18px;
  font-weight: 800;
}

/* main content */

.mainContent {
  padding: 96px 80px 0 80px;
  margin: 0 auto;
  max-width: 1920px;
}

.mainContentContainer {
  display: flex;
  justify-content: space-between;
}

.mainContentTitle {
  margin-bottom: 48px;
  letter-spacing: -0.02em;
  font-size: 42px;
  line-height: 1.119047619;
  font-weight: 500;
}

.scrollBtns {
  display: flex;
  flex-direction: row;
}

.scrollBtnPrev {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #dddddd;
  cursor: pointer;
}

.scrollBtnNext {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #dddddd;
  cursor: pointer;
}

.scrollBtnPrev:hover,
.scrollBtnNext:hover {
  transform: scale(1.04);
}

.scrollBtnPrev:disabled,
.scrollBtnNext:disabled {
  opacity: 0.5 !important;
  cursor: not-allowed !important;
  color: rgb(221, 221, 221) !important;
  transform: scale(1) !important;
}

.scrollBtnPrev {
  margin-right: 8px;
}

.mainContentCards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 24px;
  overflow: hidden;
}

.mainExperiences {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;
  overflow: hidden;
}

.mainExperienceContainer {
  display: grid;
  position: relative;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr);
}

.mainExperienceContainer::before {
  content: "";
  width: 100%;
  padding-top: 114.286%;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 1;
  grid-column-end: 1;
}

.mainExperience {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 1;
  grid-column-end: 1;
  padding: 80px;
  box-sizing: border-box;
  border-radius: 12px;
  color: white;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.mainExperienceTraveling {
  background-image: url("https://a0.muscache.com/im/pictures/c2adcb16-6c3f-4041-86a1-afa9c303c500.jpg?im_w=1920");
}

.mainExperienceAtHome {
  background-image: url("https://a0.muscache.com/im/pictures/c1bdf53f-2a19-4529-aa9b-1b0e6bd8d0ee.jpg?im_w=1920");
}

.experience {
  font-size: 53px;
  line-height: 1.1320754717;
  margin-bottom: 24px;
  font-weight: 500;
}

.experienceButton {
  background-color: white;
  display: inline-block;
  padding: 14px 24px;
  border: 1px solid black;
  border-radius: 12px;
  box-sizing: border-box;
  font-weight: 600;
  color: #222222;
  cursor: pointer;
}

.experienceButton:hover {
  background-color: #ebebeb;
}

.askSuperHostContainer {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr);
  padding: 96px 80px 0 80px;
  margin: 0 auto;
  max-width: 1920px;
}

.askSuperHostContainer::before {
  content: "";
  width: 100%;
  padding-top: 50%;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 1;
  grid-column-end: 1;
}

.askSuperHost {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  box-sizing: border-box;
  padding: 80px;
  border-radius: 12px;
  background-image: url("https://a0.muscache.com/im/pictures/0528b0f7-4c0c-47bc-9786-d91454f531ba.jpg?im_w=2560");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 1;
  grid-column-end: 1;
}

.askHosting {
  font-size: 95px;
  line-height: 1.1052631579;
  color: white;
}

/* Responsive */

@media screen and (max-width: 2080px) {
  .flexibleSearchContainer {
    max-width: calc(min(1760px, 100%) - 160px);
  }

  .mainContent {
    max-width: 1600px;
  }

  .askSuperHostContainer {
    max-width: 1600px;
  }
}

@media screen and (max-width: 1440px) {
  .flexibleSearch > h1 {
    font-size: 38px;
    line-height: 1.1315789474;
  }

  .mainContentTitle {
    font-size: 33px;
    line-height: 1.1212121212;
  }

  .mainExperience {
    padding: 40px;
  }

  .experience {
    font-size: 41px;
    line-height: 1.1219512195;
  }

  .askSuperHostContainer {
    max-width: 1600px;
    padding: 0;
    padding-top: 96px;
  }

  .askSuperHost {
    border-radius: 0;
  }

  .askHosting {
    font-size: 74px;
    line-height: 1.0945945946;
  }
}

@media screen and (max-width: 1128px) {
  .flexibleSearchContainer {
    max-width: calc(100% - 80px);
  }

  .flexibleSearch > h1 {
    font-size: 32px;
    line-height: 1.125;
  }

  .mainContent {
    padding: 64px 40px 0 40px;
  }

  .mainContentTitle {
    font-size: 25px;
    line-height: 1.12;
    margin-bottom: 24px;
  }

  .mainContentCards {
    column-gap: 16px;
  }

  .mainExperiences {
    column-gap: 16px;
  }

  .mainExperienceContainer::before {
    padding-top: 125%;
  }

  .mainExperience {
    padding: 24px;
  }

  .experience {
    font-size: 34px;
    line-height: 1.1176470588;
  }

  .askSuperHost {
    padding: 40px;
  }

  .askHosting {
    font-size: 49px;
    line-height: 1.1020408163;
  }
}

@media screen and (max-width: 950px) {
  .mainContentCards {
    display: flex;
    column-gap: unset;
    grid-template-columns: unset;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    scroll-padding: 24px;
    margin: 0 -40px;
  }

  .mainSearch {
    padding-top: 244px;
  }
}
