* {
  scroll-behavior: smooth;
}

/* header */

.whole {
  position: relative;
}

.header {
  width: 100vw;
  height: 84px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.fixagain {
  width: 100vw;
  height: 84px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100vh;
  z-index: 1;
}

.fixagain .logo,
.header .logo {
  margin-left: 48px;
}

.header .logo svg {
  padding-bottom: 5.02px;
}

.aboutHost {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.askSuperHost {
  margin-right: 48px;
  padding: 6px 22px 6px 6px;
  line-height: 1.25;
  box-shadow: rgb(221, 221, 221) 0px 0px 0px 1px inset,
    rgba(0, 0, 0, 0.18) 0px 2px 4px;
  height: 32px;
  display: flex;
  align-items: center;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.askSuperHost:hover {
  box-shadow: rgb(221, 221, 221) 0px 0px 0px 1px inset,
    rgb(0 0 0 / 12%) 0px 6px 16px;
}
.superHostsImage {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin-right: 12px;
  margin-left: -18px;
  width: 96px;
}

.superHostsImage img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid white;
  position: relative;
}

.superHostsImage img:nth-child(1) {
  right: -18px;
  z-index: 3;
}

.superHostsImage img:nth-child(2) {
  right: -9px;
  z-index: 2;
}

.superHostsImage img:nth-child(3) {
  right: 0px;
  z-index: 1;
}

.startHosting {
  margin-right: 48px;
  padding: 14px 24px;
  background-image: linear-gradient(
    to right,
    rgb(230, 30, 77) 0%,
    rgb(227, 28, 95) 50%,
    rgb(215, 4, 102) 100%
  );
  border-radius: 8px;
  color: white;
  line-height: 1.25;
  cursor: pointer;
}

/* fullScreen */

.fullScreen {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: row;
  position: relative;
}

.leftScreen,
.rightScreen {
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.leftScreen .logo {
  position: absolute;
  top: 48px;
  left: 48px;
}

.rightScreen .startHosting,
.leftScreen .startHosting {
  margin-right: 0;
}

.rightScreen .startHosting {
  margin: 0 0 48px 0;
}

.point h1 {
  font-size: 64px;
  margin-bottom: 52px;
  color: white;
  line-height: 70px;
  font-weight: 600;
}

.point h2 {
  color: white;
  font-size: 48px;
  margin-bottom: 32px;
  line-height: 1.1666666667;
  font-weight: 500;
}

.point p {
  color: white;
  font-size: 18px;
  line-height: 1.4444444444;
  margin-bottom: 48px;
}

.scrollDown {
  position: absolute;
  bottom: 48px;
  left: 0;
  right: 0;
}

.scrollDown span {
  display: inline-block;
  cursor: pointer;
  padding: 8px 9px;
  border-radius: 50%;
}

.scrollDown span:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.leftScreen video,
.rightScreen video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

/* main - common */

.main {
  width: 100vw;
}

.content {
  margin: 0 auto;
  max-width: 1760px;
}

/* main - carousel */

.container {
  padding: 160px 0 80px 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 64px;
  line-height: 1.0625;
  margin-bottom: 60px;
  font-weight: 600;
}

.wrapper {
  width: 1712px;
  position: relative;
}

.carouselContainer {
  max-width: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  overflow: scroll;
  scroll-snap-type: x mandatory;
}

.cItem {
  flex-shrink: 0;
  width: 543.68px;
  padding-right: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  scroll-snap-align: center;
}

.cCover {
  width: 543.68px;
  height: 543.68px;
  border-radius: 4px;
  margin-bottom: 48px;
  filter: drop-shadow(0px 8px 6px rgba(0, 0, 0, 0.25));
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cDesc {
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  white-space: pre-line;
}

.desc {
  margin-bottom: 34px;
  font-size: 26px;
  line-height: 1.1538461538;
  text-align: start;
  font-weight: 400;
}

.signature {
  height: 32px;
  margin-bottom: 24px;
}

.signature img {
  height: 100%;
}

.cLocation {
  font-size: 16px;
  color: #717171;
  line-height: 1.25;
}

.btns {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 42.5px;
  left: 60.75%;
}

.button {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ebebeb;
  cursor: pointer;
}

.leftbutton:disabled,
.rightbutton:disabled {
  opacity: 0.5 !important;
  cursor: not-allowed !important;
  color: rgb(221, 221, 221) !important;
  transform: scale(1) !important;
}

.button:hover {
  background-color: #f7f7f7;
}

.leftbutton {
  margin-right: 12px;
}

/* ask superhost */

.cover {
  margin-top: 24px;
  width: 100%;
  height: 990px;
  border-radius: 12px;
  background-image: url("https://a0.muscache.com/im/pictures/93ef1829-62d1-4349-8b4a-b02ebc650a25.jpg?im_w=2560&im_q=highq");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(0px 8px 28px rgba(0, 0, 0, 0.28));
  display: flex;
  align-items: center;
  justify-content: center;
}

.askSuperhostDesc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 480px;
}

.askSuperhostDesc h1 {
  color: white;
  font-size: 64px;
  font-weight: 600;
  text-align: center;
  line-height: 1.125;
  margin-bottom: 77px;
}

.getMoreInfo {
  padding: 13px 23px;
  display: inline-block;
  text-align: center;
  background-color: white;
  border-radius: 8px;
  line-height: 1.25;
  width: 180px;
  box-sizing: border-box;
}

/* aircover */

.aircover {
  margin: 57px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 756px;
  background-color: #f7f7f7;
  border-radius: 16px;
}

.aircoverDesc {
  width: 50%;
  padding: 0 32px 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
}

.aircoverLogo {
  font-size: 14px;
  line-height: 1.43;
  margin-bottom: 40px;
}

.aircoverDesc p {
  font-size: 32px;
  line-height: 1.125;
  margin-bottom: 50px;
}

.aircoverImage {
  margin-left: 250px;
  width: 630px;
  height: 750px;
  overflow: hidden;
}

.aircoverImage img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.aircoverMore {
  text-decoration: none;
  color: black;
  padding: 13px 23px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: white;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  line-height: 1.25;
}

.footerwrapper {
  margin-top: -48px;
}
