.search {
  color: black;
  min-width: 348px;
  box-sizing: border-box;
  padding: 0 24px;
  text-align: center;
  flex: 0 1 auto;
}

.searchPanel {
  width: 100%;
  background-color: white;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 48px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
  transition: all 0.2s ease;
  cursor: pointer;
}

.searchPanel.nonFixed {
  transform-origin: 50% 0%;
  margin: 0 auto;
  transform: scale(2.85714, 1.375) translateY(58px);
  opacity: 0;
  visibility: hidden;
}

.searchPanel:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

.startSearching {
  font-size: 14px;
  padding: 0 16px 0 24px;
  flex: 1 1 auto;
  text-align: left;
}

.searchBtn {
  padding: 10px;
  margin: 7px 7px 7px 0;
  background-color: #ff385c;
  border-radius: 50%;
  color: white;
}

.searchForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0px;
  justify-content: center;
  padding: 0 80px;
  width: 100%;
  box-sizing: border-box;
  left: 0;
  text-align: center;
  z-index: 2;
}

.searchFormContainerWrapper {
  width: 100%;
}

.formContainer {
  padding-bottom: 16px;
}

.formWrapper {
  margin: 0 auto;
  max-width: 850px;
}

.category {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.stayandexperience {
  display: flex;
  flex-direction: row;
}

.stay,
.experience,
.onlineExperience {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stayBtn,
.experienceBtn,
.onlineExperienceBtn {
  padding: 10px 16px;
  background-color: transparent;
  color: white;
  position: relative;
  line-height: 1.25;
}

.stayBtn::before,
.experienceBtn::before {
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 18px;
  height: 2px;
  margin-left: -9px;
  content: "";
  background-color: white;
  border-radius: 1px;
}

/* tabPanel */

.tabPanelWrapper {
  height: 66px;
  width: 100%;
  background-color: white;
  border: 1px solid #dddddd;
  border-radius: 32px;
  box-sizing: border-box;
  display: flex;
  position: relative;
  box-shadow: 0 16px 32px rgb(0 0 0 / 15%), 0 3px 8px rgb(0 0 0 / 10%);
}

.tabPanel {
  display: flex;
  height: 100%;
  line-height: 1.25;
  flex: 1 1 0%;
  min-width: 0;
}

.divider {
  height: 32px;
  border-right: 1px solid #dddddd;
  align-self: center;
  flex: 0 0 0;
  z-index: 2;
}

.where {
  flex: 1.5 0 0%;
  min-width: 0;
}

.whereContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0px;
  flex: 1 0 0%;
  margin: -1px;
  position: relative;
}

.cancelContainer {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  z-index: 100;
}

.cancelBtn {
  padding: 6px;
  background-color: #ebebeb;
  border-radius: 50%;
  cursor: pointer;
}

.toWhere {
  padding: 14px 32px;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border: 1px solid transparent;
  flex: 1 0 0%;
  box-sizing: border-box;
  width: 100%;
}

.toWhere::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 32px;
}

.toWhere:hover::after {
  background-color: #ebebeb;
}

.toWhere > div {
  position: relative;
  box-sizing: border-box;
  height: 36px;
}

.toWhere > div > div {
  font-size: 12px;
  line-height: 1.3333333333;
  padding-bottom: 2px;
  font-weight: 600;
  letter-spacing: 0.04em;
  text-align: left;
}

.toWhere input {
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 1.2857142857;
  background-color: transparent;
  width: 100%;
}

.toWhere input:focus {
  outline: none;
}

.flexibleSearchContainer {
  height: 0;
  width: 100%;
  position: absolute;
  left: -1px;
  top: 100%;
}

.flexibleSearch {
  margin-top: 12px;
  padding: 16px 32px;
  background-color: white;
  border-radius: 32px;
  box-shadow: 0px 6px 20px rgb(0 0 0 / 20%);
  width: 500px;
  height: 160px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.flexibleSearch span {
  font-size: 12px;
  font-weight: 600;
}

.flexibleSearch > a {
  width: 100%;
}

.flexibleSearch > a > div {
  padding: 8px 24px;
  margin-top: 16px;
  border-radius: 32px;
  border: 1px solid #e5e5e5;
  background-color: white;
  height: 58px;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
  font-size: 18px;
  cursor: pointer;
}

.flexibleSearch div:hover {
  box-shadow: rgb(0 0 0 / 20%) 0px 6px 20px;
}

.flexibleSearch video {
  object-fit: contain;
  width: 28px;
  height: 28px;
}

.checkWhen {
  display: flex;
  flex-direction: row;
  flex: 2 0 0%;
  min-width: 0;
}

.checkInWrapper,
.checkOutWrapper {
  margin: -1px;
  flex: 1 0 0%;
  position: relative;
  display: flex;
  min-width: 0;
}

.checkIn,
.checkOut {
  padding: 1px;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
  border: 0;
  margin: 0;
  text-align: left;
  flex: 1 0 0%;
  width: 0;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  display: block;
}

.checkInContainer,
.checkOutContainer {
  overflow: hidden;
  white-space: nowrap;
  padding: 14px 24px;
  cursor: pointer;
  z-index: 1;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.checkInContainer::after,
.checkOutContainer::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  content: "";
  z-index: -1;
  border: 1px solid transparent;
  border-radius: 32px;
  background-clip: padding-box;
  height: 100%;
}

.checkInContainer:hover::after,
.checkOutContainer:hover::after {
  background-color: #ebebeb;
}

.checkInDesc,
.checkOutDesc {
  font-size: 12px;
  line-height: 1.3333333333;
  padding-bottom: 2px;
  font-weight: 600;
  letter-spacing: 0.04em;
  width: 100%;
  text-align: left;
}

.checkInInput,
.checkOutInput {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  background-color: transparent;
  height: 18px;
  font-size: 14px;
  line-height: 1.2857142857;
  color: #717171;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  text-align: left;
  box-sizing: border-box;
}

.checkInInput::-webkit-calendar-picker-indicator,
.checkOutInput::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.checkInInput::before,
.checkOutInput::before {
  content: attr(placeholder);
  width: 100%;
  color: #717171;
}

.checkInInput:focus::before,
.checkInInput:valid::before,
.checkOutInput:focus::before,
.checkOutInput:valid::before {
  display: none;
}

.guestsAndBtn {
  -webkit-box-align: center;
  display: -webkit-box;
  flex: 0.95 0 auto;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  min-width: 0;
  box-sizing: border-box;
}

.guests {
  padding: 1px;
  cursor: pointer;
  flex: 1 0 0%;
  width: 0;
  z-index: 1;
  overflow: visible;
  appearance: none;
  background: transparent;
  display: block;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  outline: none;
}

.guestsAndBtn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 32px;
  z-index: 0;
  background-clip: padding-box;
  box-sizing: border-box;
}

.guestsAndBtn:hover::after {
  background-color: #ebebeb;
}

.guestsBtn {
  padding: 14px 24px;
  position: relative;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  box-sizing: border-box;
}

.guestsBtn div:first-child {
  font-size: 12px;
  line-height: 1.3333333333;
  padding-bottom: 2px;
  font-weight: 600;
  letter-spacing: 0.04em;
  width: 100%;
  text-align: left;
  box-sizing: border-box;
}

.guestsBtn div:last-child {
  font-size: 14px;
  line-height: 1.2857142857;
  color: #717171;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  text-align: left;
  box-sizing: border-box;
}

.panelSearchBtn {
  flex-direction: row;
  margin-left: -6px;
  padding-right: 8px;
  box-sizing: border-box;
  flex: 0 0 auto;
  z-index: 5;
  position: relative;
  box-sizing: border-box;
}

.panelSearchBtn button {
  padding: 16px;
  border-radius: 50%;
  background-color: #ff385c;
  color: white;
  cursor: pointer;
  box-sizing: border-box;
}

.panelSearchBtn button:hover {
  background: linear-gradient(to right, #e61e4d 0%, #e31c5f 50%, #d70466 100%);
}

.guestsCounterContainer {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 12px;
  border-radius: 32px;
  padding: 16px 32px;
  background-color: white;
  box-shadow: 0px 6px 20px rgb(0 0 0 / 20%);
}

.guestsCounter {
  display: flex;
  flex-direction: column;
}

.counterSection {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
}

.guestsSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: start;
  padding: 16px 4px 16px 0;
  min-width: 330px;
}

.guestsCategory {
  display: flex;
  flex-direction: column;
}

.guestsCategory h3 {
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
}

.counter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 104px;
  height: 32px;
}

.countBtn {
  padding: 9px;
  background-color: white;
  border: 1px solid #b0b0b0;
  border-radius: 50%;
  cursor: pointer;
}

.countBtn:hover {
  border: 1px solid black;
}

.countBtn:disabled {
  cursor: not-allowed;
  border: 1px solid #ebebeb;
  color: #ebebeb;
}

.guestsCategory span,
.guestsCategory a strong,
.counterDesc {
  font-size: 14px;
  line-height: 1.2857142857;
  color: rgb(113, 113, 113);
}

.guestsCategory a strong {
  color: black;
  font-weight: 500;
}

.counterDesc {
  text-align: start;
  margin-bottom: 16px;
  font-weight: 300;
}

@media screen and (max-width: 1128px) {
  .stayBtn,
  .experienceBtn,
  .onlineExperienceBtn {
    font-size: 14px;
    line-height: 1.2857142857;
    padding: 10px 12px;
  }

  .searchForm {
    padding: 0 40px;
  }
}

@media screen and (max-width: 950px) {
  .searchForm {
    top: 64px;
  }

  .search {
    text-align: unset;
  }

  .where {
    flex: 1 0 0%;
  }

  .stayBtn,
  .experienceBtn,
  .onlineExperienceBtn {
    font-size: 16px;
    line-height: 1.25;
  }
}
