input,
select {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 64px;
  border-bottom: 1px solid #ebebeb;
  box-sizing: border-box;
}

.header h3 {
  font-size: 16px;
  margin: 0 16px;
  box-sizing: border-box;
}

.welcome {
  margin: 8px 0 24px;
  font-size: 22px;
  line-height: 1.1818181818;
  font-weight: 500;
  box-sizing: border-box;
}

.inputs {
  border-radius: 8px;
  margin-bottom: 8px;
  box-sizing: border-box;
}

.country,
.userID {
  display: flex;
  position: relative;
  border: 1px solid #b0b0b0;
  box-sizing: border-box;
}

.country {
  border-bottom: none;
  border-radius: 8px 8px 0 0;
  box-sizing: border-box;
}

.countryInput,
.userIDInput {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 56px;
  width: 100%;
  flex: 1 1 auto;
  box-sizing: border-box;
}

.inputTitle {
  padding-right: 24px;
  position: absolute;
  top: 18px;
  left: 12px;
  right: 12px;
  font-size: 16px;
  line-height: 1.25;
  color: #717171;
  transform-origin: 0% 0%;
  transform: translateY(-8px) scale(0.75);
  box-sizing: border-box;
}

.countrySelection {
  padding: 26px 36px 10px 12px;
  height: 56px;
  width: 100%;
  border: none;
  outline: none;
  appearance: none;
  font-size: 16px;
  line-height: 1.25;
  background-color: transparent;
  box-sizing: border-box;
}

.arrow {
  padding-right: 12px;
  position: absolute;
  height: 100%;
  right: 0px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.userIDContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.countryNumber {
  padding: 26px 0 0 12px;
  height: 100%;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.25;
  box-sizing: border-box;
}

.username {
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  padding: 26px 12px 12px 10px;
  box-sizing: border-box;
}

.username::placeholder {
  color: #717171;
  box-sizing: border-box;
}

.confirmation {
  width: 100%;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.confirmation p {
  font-size: 12px;
  line-height: 1.3333333333;
  box-sizing: border-box;
}

.continueBtn {
  margin: 16px 0 24px 0;
  box-sizing: border-box;
}

.continueBtn button {
  width: 100%;
  text-align: center;
  color: white;
  border-radius: 8px;
  padding: 14px 24px;
  font-size: 16px;
  line-height: 1.25;
  background: linear-gradient(
    to right,
    rgb(230, 30, 77) 0%,
    rgb(227, 28, 95) 50%,
    rgb(215, 4, 102) 100%
  );
  cursor: pointer;
  box-sizing: border-box;
}

.divider {
  margin: 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
  box-sizing: border-box;
}

.divider span {
  font-size: 12px;
  line-height: 1.3333333333;
  color: #717171;
  padding: 0 16px;
  box-sizing: border-box;
  position: relative;
}

.divider span::before {
  content: "";
  position: absolute;
  border-bottom: 1px solid #e4e4e4;
  top: 50%;
  right: 100%;
  box-sizing: border-box;
  width: 568px;
}

.divider span::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid #e4e4e4;
  top: 50%;
  left: 100%;
  width: 568px;
  box-sizing: border-box;
}

.socialLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.socialLogin form {
  margin-bottom: 16px;
  width: 100%;
  box-sizing: border-box;
}

.socialLogin form:last-child {
  margin-bottom: 0;
  box-sizing: border-box;
}

.socialLogin form button {
  padding: 10px 12px;
  border: 2px solid #b0b0b0;
  width: 100%;
  border-radius: 8px;
  background-color: white;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
}

.socialLogin form button:hover {
  border-color: black;
  box-sizing: border-box;
}

.icon {
  position: absolute;
  box-sizing: border-box;
}

.socialLogin form button div {
  font-size: 14px;
  line-height: 1.7142857143;
  box-sizing: border-box;
}
